# Runtime
NODE_ENV=development
PORT=3000

# PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cgv?schema=public"

# Frontend / browser access
CORS_ORIGIN="http://localhost:5173"

# Swagger
# http://localhost:${PORT}/${SWAGGER_PATH}
SWAGGER_PATH="api"
